<div class="keyboard">
  <div class="keyboard__advanced">
    <div class="div1">
      <h1>2<span class="index">nd</span></h1>
    </div>
    <div class="div2">
      <h1>1</h1>
    </div>
    <div class="div3">
      <h1>1</h1>
    </div>
    <div class="div4">
      <h1>1</h1>
    </div>
    <div class="div5">
      <h1>1</h1>
    </div>
    <div class="div6">
      <h1>1</h1>
    </div>
    <div class="div7">
      <h1>1</h1>
    </div>
    <div class="div8">
      <h1>1</h1>
    </div>
    <div class="div9">
      <h1>1</h1>
    </div>
    <div class="div10">
      <h1>1</h1>
    </div>
    <div class="div11">
      <h1>1</h1>
    </div>
    <div class="div12">
      <h1>1</h1>
    </div>
    <div class="div13">
      <h1>2<span class="index">nd</span></h1>
    </div>
    <div class="div14">
      <h1>1</h1>
    </div>
    <div class="div15">
      <h1>1</h1>
    </div>
    <div class="div16">
      <h1>1</h1>
    </div>
    <div class="div17">
      <h1>1</h1>
    </div>
    <div class="div18">
      <h1>1</h1>
    </div>
    <div class="div19">
      <h1>1</h1>
    </div>
    <div class="div20">
      <h1>1</h1>
    </div>
    <div class="div21">
      <h1>2<span class="index">nd</span></h1>
    </div>
    <div class="div22">
      <h1>1</h1>
    </div>
    <div class="div23">
      <h1>1</h1>
    </div>
    <div class="div24">
      <h1>1</h1>
    </div>
    <div class="div25">
      <h1>2<span class="index">nd</span></h1>
    </div>
  </div>  
  <div class="keyboard__pads">
    <div class="div1">
      <h1>0</h1>
    </div>
    <div class="div2">
      <h1>1</h1>
    </div>
    <div class="div3">
      <h1>2</h1>
    </div>
    <div class="div4">
      <h1>3</h1>
    </div>
    <div class="div5">
      <h1>4</h1>
    </div>
    <div class="div6">
      <h1>5</h1>
    </div>
    <div class="div7">
      <h1>6</h1>
    </div>
    <div class="div8">
      <h1>7</h1>
    </div>
    <div class="div9">
      <h1>8</h1>
    </div>
    <div class="div10">
      <h1>9</h1>
    </div>
    <div class="div11">
      <h1>±</h1>
    </div>
    <div class="div12">
      <h1>.</h1>
    </div>
    <div class="div13">
      <h1>+</h1>
    </div>
    <div class="div14">
      <h1>-</h1>
    </div>
    <div class="div15">
      <h1>x</h1>
    </div>
    <div class="div16">
      <h1>÷</h1>
    </div>
    <div class="div17">
      <h1>=</h1>
    </div>
    <div class="div18">
      <h1>C</h1>
    </div>
    <div class="div19">
      <h1>←</h1>
    </div>
    <div class="div20">
      <h1>)</h1>
    </div>
    <div class="div21">
      <h1>(</h1>
    </div>
    <div class="div22">
      <h1>x<span class="index">2</span></h1>
    </div>
    <div class="div23">
      <h1><span class="root">√</span>x</h1>
    </div>
  </div>
</div>
